*
{
    margin: 0;
}

body
{
    margin: 0;
    background-color: aliceblue;
}
:root
{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*0.9);
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;


}
.gameboard
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.cell
{
    border: solid black 1px;
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;position: relative;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3)
{
    border-top: none;
}

.cell:nth-child(3n+1)
{
    border-left:none;
}
.cell:nth-child(3n)
{
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7)
{
    border-bottom: none;
}
/* x piece */
.cell.x::before,
.cell.x::after
{
    content: '';
    height: var(--mark-size);
    width: calc(var(--mark-size)*0.15);
    background-color: black;
    position: absolute;
}
.cell.x::before
{
    rotate: 45deg;
}


.cell.x::after
{
    rotate: -45deg;
}

/*  o piece */
.cell.o::before,
.cell.o::after
{
    content: '';
    height: calc(var(--mark-size)*.9);
    width: calc(var(--mark-size)*.9);
    background-color: black;
    position: absolute;
    border-radius: 100%;
}

.cell.o::after
{
    height: calc(var(--mark-size)*0.60);
    width:  calc(var(--mark-size)*0.60);
    background-color: rgb(255, 255, 255);
}
.cell.x,
.cell.o
{
    cursor: not-allowed;
}


/* ghost piece */


.gameboard.x .cell:not(.x):not(.o):hover::before


{
    content: '';
    height: var(--mark-size);
    width: calc(var(--mark-size)*0.15);
    background-color: rgb(172, 172, 172);
    position: absolute;
    rotate: 45deg;

}
.gameboard.x .cell:not(.x):not(.o):hover::after
{
    content: '';
    height: var(--mark-size);
    width: calc(var(--mark-size)*0.15);
    background-color: rgb(172, 172, 172);
    position: absolute;
    rotate: -45deg;
}

/* translucent piece o */
.gameboard.o .cell:not(.x):not(.o):hover::before


{   content: '';
    height: calc(var(--mark-size)*.9);
    width: calc(var(--mark-size)*.9);
    background-color: rgb(172, 172, 172);
    position: absolute;
    border-radius: 100%;
}
.gameboard.o .cell:not(.x):not(.o):hover::after
{
    content: '';
    height: calc(var(--mark-size)*.9);
    width: calc(var(--mark-size)*.9);

    position: absolute;
    border-radius: 100%;
    height: calc(var(--mark-size)*0.60);
    width:  calc(var(--mark-size)*0.60);
    background-color: rgb(255, 255, 255);
}

/* Input fields */
.gamemode_selection
{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 100px;
    border: solid rgb(108, 104, 104) 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white
}
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.options_menu
{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 30px;
    height: 150px;
    width: 400px;
    position: relative;
    margin-bottom: 20px;
    background-color: white;




}
 .gamemode_selection button
{
    background-color: white;
    width: 33%;
    height: 50%;
    border: 1px solid;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: large;
    color: purple;


}

/* multiplayer selection */
.multiplayer_selection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: solid rgb(108, 104, 104) 2px;
    width: 400px;
    height: 100px;
    margin-top: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 20px;
    position: absolute;



}
.input_mp
{
    display: flex;
}
.input_field_mp
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
input
{
    width: 75%;
    margin-top: 5px;
    border: solid 2px;
    border-radius:  2px  1ch;
    padding: 5px;
}
.multiplayer_selection button
{
    width: 70px;
    background-color: white;
    height: 25px;
    font-weight: bolder;
}


/* singleplayer selection */
.singleplayer_selection
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid;
    width: 100%;
    position: absolute;



}
.singleplayer_selection h3
{
    font-family: 'Oswald', sans-serif;
    color: rgb(64, 66, 67);
    font-weight: bold;
}
.singleplayer_buttons
{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-family: 'Oswald', sans-serif;


}
.singleplayer_buttons button
{
    border: none;
    width: 25%;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    box-shadow:  rgb(255, 217, 19) 0px 0px 0px 2px, rgb(255, 156, 85) 0px 0px 0px 4px, rgb(255, 85, 85) 0px 0px 0px 6px;
    font-weight: bolder;
    color: rgb(65, 68, 70);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Modals */
.modal_container
{
    position: fixed;
    background-color: rgb(61, 61, 61);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width:  100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 95%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;


}
#win_modal,#draw_modal
{
    background-color: rgb(185, 183, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width:  40vw;


}
#win_modal button
{
    height: 30%;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid;
    font-weight: bolder;
    font-size: large;
}
#draw_modal button
{
    height: 30%;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid;
    font-weight: bolder;
    font-size: large;
}


.unselected
{
    display: none;
}
sda
